:root {
    --col-green: hsl(95, 48%, 67%);
    --col-red: hsl(359, 54%, 72%);

    --col-black: hsl(0, 0%, 0%);
    --col-gray-900: hsl(0, 0%, 20%);
    --col-gray-800: hsl(0, 0%, 47%);
    --col-gray-600: hsl(0, 0%, 73%);
    --col-gray-400: hsl(0, 0%, 91%);
    --col-gray-200: hsl(220, 18%, 97%);
    --col-white: hsl(0, 0%, 100%);

    --col-shadow: hsla(0, 0%, 0%, 0.063);
    --col-overlay: hsla(0, 0%, 0%, 0.15);
}
