.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/background.png");
}

body {
    background-color: var(--col-gray-200);
}

main {
    padding-bottom: calc(var(--space-xxxl) * 2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--col-overlay);
    z-index: -10;
    opacity: 0;
    transition: all ease 0.2s;

    &--open {
        opacity: 1;
        z-index: 500;
    }
}
